*.o
*.nc
BOUT.log.*
.BOUT.pid.*
BOUT.settings
*.a
*~
.DS_Store
/build*
__pycache__
uv.lock
# Docs
/docs/build
/docs/doxygen
/docs/html
/docs/hermes3.pdf
/docs/sphinx/_breathe*

# IDE config files
.vscode

# spack-related
spack-build*
spack.lock
.spack-env
views

# Tests
**/Testing/**
docker/work/
docker/.env
docker/docker-compose.override.yaml
